/**
 * Editor css
 */

.flip-box-front {
	border: 3px solid red;
}

.wp-block-flipbox-block-flipbox {
	//paddingデフォルト
	.flip-box-front {
		padding: 2rem;
	}
}

.wp-block-flipbox-block-flipbox .flip-box-front .block-editor-inner-blocks,
.wp-block-flipbox-block-flipbox .flip-box-back .block-editor-inner-blocks {
	border: 1px solid #f1f1f1;
}
